@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-3 blockquote{
	text-align: center;
}

#chapter-16 blockquote{
	font-style: italic;
}

#chapter-16 blockquote b{
	font-style: normal;
}

[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}
